# Configuratie voor de public directory
<IfModule mod_rewrite.c>
    # Zet de rewrite engine aan
    RewriteEngine On
    
    # Stel de basis URL in
    RewriteBase /
    
    # Als het geen bestaand bestand is
    RewriteCond %{REQUEST_FILENAME} !-f
    # En geen bestaande directory
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Laat de verwerking doorgaan
    RewriteRule ^(.*)$ - [L]
</IfModule>
